<nav>
    <div class=" site-title ">
        <a href="/"><h1>Back to main blog</h1></a>
        <p>A pauwul™ website </p>
        <p><small>Not actually trademarked</small></p>
    </div>

    <ul>
        <li><a href="/">Blogy</a></li>
        <li><a href="/about">About :D</a></li>
        <li><a href="/blogs/create">New blog</a></li>
    </ul>
</nav>