<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
    <body>
        
        <%- include('./partials/nav.ejs') %>
        <h2 class="blog-title not-fund">Page not fund, eror code 404</h2>
        <div class="blog-title ">
            <p><small>lmao</small></p>
        </div>
        <%- include('./partials/footer.ejs') %>

    </body>
</html>