<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=  title%></title>
</head>
<body>
    
    <nav>
        <div class=" site-title ">
            <a href="/"><h1>Back to main blog</h1></a>
            <p>A pauwul™ website </p>
            <p><small>Not actually trademarked</small></p>
        </div>

        <ul>
            <li><a href="/">Blogy</a></li>
            <li><a href="/about">About :D</a></li>
            <li><a href="/blogs/create">New blog</a></li>
        </ul>
    </nav>
    
    <div class="blogs content">
        <h2>About page</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic quaerat debitis eveniet corrupti ut beatae, iusto officia tempora, odit saepe consequatur dolore animi doloribus vitae dicta. Tempora unde excepturi omnis sunt nisi quisquam quaerat possimus quod qui odio ut, necessitatibus eos iure labore, quasi praesentium nulla assumenda eveniet doloribus exercitationem?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatibus quia rem officiis natus voluptas ut ducimus doloremque, vel veritatis explicabo exercitationem hic cupiditate debitis, enim delectus quidem fugiat dolor. Totam fugit quae consequatur distinctio nesciunt ipsa repellendus quo expedita placeat aliquam dolorem ipsum, voluptatum asperiores alias incidunt illum! Quidem nam architecto voluptate iure dolore odio mollitia deleniti ad nisi magnam corporis asperiores quisquam, consequuntur ipsa necessitatibus quaerat tempore adipisci facere, vero doloremque voluptatem? Iste harum molestiae quas, assumenda maxime animi cum numquam illum iure necessitatibus a cupiditate dolor voluptatum eum quae officia incidunt blanditiis id? Corrupti ut aut rem?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates possimus repudiandae quibusdam vel. In sunt dolorem quisquam, sint, totam itaque, ipsa cum at accusantium animi obcaecati atque beatae commodi provident!</p>

    </div>
</body>
</html>